#txdetails-modal {
	padding: 0 20px;
}

.txdetails-label {
	font-weight: 700;
}

.txdetails-data {
	user-select: text;
}

.txdetails-data.left {
	margin-left: 5px;
}

#txmodal-btn {
	padding-top: 20px;
}
